doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{title}
  body 
    nav.navbar
      ul
        li.item
          #logo

        li.item
          a(href="/") Home

        li.item
          a(href="/allusers") All Users

        li.item
          a(href="/transfer") Transfer

        li.item
          a(href="/transaction") Transaction History
